@model EntityLayer.Job

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UILayoult.cshtml";
}

<h1>Meslek Ekle</h1>

<form method="post">
    @Html.Label("Meslek Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br/>
    <button class="btn btn-success">Meslek Ekle</button>
</form>