<div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Ürünler</div>
                            <a class="nav-link" href="~/Product/index">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Ürünlerin Listesi
                            </a>
                            <a class="nav-link" href="~/Product/AddProduct">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Ürün Ekle
                            </a>
                            <div class="sb-sidenav-menu-heading">Müşteriler</div>
                            <a class="nav-link" href="~/Customer/index">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Müşterilerin Listesi
                            </a>
                            <a class="nav-link" href="~/Customer/AddCustomer">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Müşteri Ekle
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Kategoriler
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Yardım
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>