<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Furkan Türker &copy; Tüm haklar saklıdır</div>
        </div>
    </div>
</footer>